.idea
.ruby-lsp
*/.ruby-lsp
LA BASE DE SKY/Data/Enemies.rxdata
LA BASE DE SKY/Data/Actors.rxdata
LA BASE DE SKY/Data/Armors.rxdata
LA BASE DE SKY/Data/Skills.rxdata
LA BASE DE SKY/Data/States.rxdata
LA BASE DE SKY/Data/Weapons.rxdata
LA BASE DE SKY/rgss-compiler.json
LA BASE DE SKY/Data/Animations.rxdata
Scripts.code-workspace
**/*.dat
LA BASE DE SKY\Data\*.dat
LA BASE DE SKY/Data/PluginScripts.rxdata
LA BASE DE SKY/Data/Weapons.rxdata
LA BASE DE SKY/Data/Tilesets.rxdata
LA BASE DE SKY/Data/System.rxdata
LA BASE DE SKY/Data/States.rxdata
LA BASE DE SKY/Data/Skills.rxdata
LA BASE DE SKY/Data/Weapons.rxdata
LA BASE DE SKY/Data/Tilesets.rxdata
LA BASE DE SKY/Data/System.rxdata
LA BASE DE SKY/Data/States.rxdata
LA BASE DE SKY/Data/Skills.rxdata

# Sorbet files
sorbet/

# Rubocop cache
.rubocop-https--*
.rubocop_todo.yml

# Bundler files
vendor/
.bundle/
Gemfile.lock
Gemfile
.rubocop.yml